:root {
    --platinum: #e8ebe4;
    --darkjungle: #1b1f21;
    --bluebell: #a491d2;
    --oldsilver: #828485;
    --font-1: "Open Sans", sans-serif;
    --font-2: "Roboto", sans-serif;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    --bg-clr:#131313;
    font-family: var(--font-1);
    background-color: var(--bg-clr);
    
  }
  
  h1 {
    font-family: var(--font-2);
    font-weight: 500;
    font-size: 45px;
  }
  
  .main-container {
    display: flex;
    min-height: 100vh;
  }
  
  aside {
    width: 20%;
    background-color: #fff;
  }
  
  aside header {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 2px solid var(--platinum);
  }
  .usuario{
    max-width: 50px;
     position: relative;
     
 }
 .usuario img {
     width: 100%;
     display: block;
     border-radius: 50%;
     margin-right: 0.75rem
     
    
  }
  .usuario::before{
    content:"";
    position:absolute;
    inset:-5px;
    border:6px solid var(--bg-clr);
    border-top-color:#fff;
    border-bottom-color:#ababab;
    border-radius: 50%;
    animation: spin 3s linear infinite;
  }
  @keyframes spin{
      to{transform: rotate(360deg);}
  }
  
  .usuario {
    display: flex;
    align-items: center;
    margin: 1rem 2rem;
  }
  
  aside small {
    color: var(--oldsilver);
    display: block;
  }
  
  aside .iconos i {
    color: var(--oldsilver);
    cursor: pointer;
    margin: 0 0.25rem;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    background-color: var(--platinum);
    text-align: center;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 0px 3px rgba(0, 0, 0, 0.23);
  }
  .img_manos {
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
    margin-bottom: 1.25rem;
  }
  
  main p {
    max-width: 500px;
    text-align: center;
    line-height: 1.5;
  }
  .flex-container{
    display: flex;
    align-items: center;
    }

  .flex-item{
      padding: 1rem 6rem;
      margin: 3rem 3rem 3rem 3rem;
      border: solid 1px gray;
      background-color: var(--bluebell);
      color: var(--platinum);
    }

   .menu-contacto {
    
    border-bottom: 2px solid var(--platinum);
    border-top:2px solid var(--platinum); 
    }
  .casilla {
    border-bottom: 2px solid var(--platinum);
  }
      
    
